@model Student

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Edit Student
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Edit">
            @*VALUS FOR NAME AND DISPLAYORDER WILL GET DISPLAYED BY DEFAULT BECAUSE THEY HAVE VALUS IN THEM*@
            @*<input asp-for="Id" hidden /> instead of updating if new is getting created then use this stat.*@
            <input asp-for="ID" hidden />
            <div class="border p-3 mt-4">
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3">
                    <label asp-for="Name" class="ms-2"> </label>
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="ms-2"> </label>
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Phone" class="ms-2"> </label>
                    <input asp-for="Phone" class="form-control border-0 shadow" />
                    <span asp-validation-for="Phone" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="ms-2"> </label>
                    <input asp-for="Address" class="form-control border-0 shadow" />
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="City" class="ms-2"> </label>
                    <input asp-for="City" class="form-control border-0 shadow" />
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>
                <button type="submit" asp-action="Edit" class="btn btn-primary" style="width:150px">Update</button>
                <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>


@* A section allows you to add something in a view which will be added in the layout. or to render a cartain,part *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
@*View can basically contains a complete markup which may contain a master view(or master page)
with all the design(s) etc.
whereas Partial view is only a portion of page or a small markup which don’t have master page.*@
